<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.octest.servlets.Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/bonjour</url-pattern>
	</servlet-mapping>
	
	 
	<servlet>
		<servlet-name>TestForm</servlet-name>
		<servlet-class>com.octest.servlets.TestForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestForm</servlet-name>
		<url-pattern>/testForm</url-pattern>
	</servlet-mapping>
	 

	<!--
	<servlet>
	    <servlet-name>sessionUse</servlet-name>
	    <servlet-class>com.octest.servlets.sessionUse</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>sessionUse</servlet-name>
	    <url-pattern>/sessionUse</url-pattern> 
	</servlet-mapping>
	
	  
	
		<servlet>
		<servlet-name>sessionUse</servlet-name>
		<servlet-class>com.octest.servlets.sessionUse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sessionUse</servlet-name>
		<url-pattern>/sessionUse</url-pattern>
	</servlet-mapping>
	
	-->
	<servlet>
		<servlet-name>SendFile</servlet-name>
		<servlet-class>com.octest.servlets.SendFile</servlet-class>
		<multipart-config>
			<location>C:/Users/Abdu Jeff/Documents/Job/JAVA/MuleSoft/Middleware
				Fundamentals/XQuery/XQuery
				projects/JEETutorial/WebContent/Files/Temp</location>
			<max-file-size>10485760</max-file-size>
			<max-request-size>52428800</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendFile</servlet-name>
		<url-pattern>/sendFile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Accueil</servlet-name>
		<servlet-class>com.octest.servlets.Accueil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Accueil</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
</web-app>